.navContainer {
    background-color: #FF6801;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
    
    
}
.logo {
    font-size: 25px;
    font-weight: bold;
    justify-content: left;
    padding-left: 20px;
}
.icon {
    font-size: 20px;
    color: #FF6801;
    background-color:#ffffff;
    border-radius: 2px;
    width: 40px;
    padding: 1px;
    display: flex;
    align-items: left;
    justify-content: left;
}
/* ProductPage */
.mainContent {
    display: flex;
    gap: 20px;
  }
  
  /* Bộ lọc bên trái */
  .sidebar {
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    flex-shrink: 0;
    padding-left: 10px;
  }
  .filterContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  
  /* Phần sản phẩm bên phải (chiếm nhiều hơn) */
  .productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột */
    gap: 16px;
  }
  .productItem {
 
    text-align: left;
  }
  h1, h3 {
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }
  .paginationContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
  }
  
  .paginationButton {
    padding: 8px 14px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  }
  
  .paginationButton:hover {
    background-color: #f0f0f0;
  }
  
  .activePage {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-color: #007bff;
  }
  @media (max-width: 768px) {
    .mainContent {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
    }
  
    .productSection {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 6px rgba(0,0,0,0.05);
      padding: 16px;
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 16px;
    }
  }
  .productImage {
    width: 190px;
    height: 190px;
    object-fit: cover;
    display: flex;
    justify-self: space-between;
  }
  
  




