.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}

.iconButton {
  font-size: 1px;
  cursor: pointer;
  transition: transform 0.15s;
  padding: 10px;
}
.iconButton:active {
  transform: scale(1.2);
}

.likeIcon {
  color: #000000;
  font-size: 28px;
  transition: color 0.2s;
}

.likedIcon {
  color: #c01c1c;
  font-size: 28px;
  transition: color 0.2s;
}

.text {
  font-size: 16px;
}