.appContainer {
    display: flex;
    height: 100vh;
    background-color: #f3f4f6;
  }
  
  .contentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
    overflow: auto;
    background-color: #FEFEFF;
  }
  
  @media (max-width: 768px) {
    .appContainer {
      flex-direction: column;
    }
  
    .mainContent {
      padding: 10px;
    }
  }