.wrapper {
    width: 100%;
    max-width: 450px;
    margin: 24px auto;
    background-color: #F5F5F5;;
  }
  
  .accordionItem:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .title {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 15px 0;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .title.active {
    color: #ffffff;
    background: #47B475;
  }
  
  .icon {
    margin-left: 12px;
    font-size: 20px;
    transition: transform 0.3s;
  }
  
  .contentWrapper {
    overflow: hidden;
    max-height: 0;
    background: #fafbfc;
    transition: max-height 0.3s cubic-bezier(0.4,0,0.2,1);
  }
  
  .content {
    padding: 15px 18px;
    color: #333;
    font-size: 15px;
    animation: fadeIn 0.3s;
  }
  
  @keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
  }
  
  @media (max-width: 500px) {
    .wrapper {
      max-width: 100%;
      padding: 0 8px;
    }
    .title, .content {
      font-size: 14px;
      padding: 10px 10px;
    }
  }